.group {
    position: relative;
}

.group ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 3;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin: 0;
    padding: 0;
    position: relative;
}

.menu li:hover .group ul {
    left: -1;
    display: block;
    border-top: solid #8224E3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}